%h4{:style => 'text-align: center; text-decoration: underline;'}
  = @thing.name
%h2
  = t("titles.thank_you", :thing => t("defaults.thing"))
= render :partial => 'problems/problems'
= render :partial => 'things/abandon'
